@import url("https://fonts.googleapis.com/css?family=Raleway:500");

@font-face {
    font-family: 'wizztaregular';
    src: url('./wizzta.regular-webfont.woff2') format('woff2'),
         url('./wizzta.regular-webfont.woff') format('woff'),
		 url('./wizzta.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-wizzta: 'wizztaregular';
	--pure-white: #ffffff;
	--primary-color: #340c62;
	--secondary-color: #09233c;
	--tertiary-color: #021d1b;
	--accent-color: #00ffdd;
	--accent-color-dark: #0d9188;
	--heading-color: rgba(0, 0, 0, 0.7);
	--heading-secondary-color: rgba(255, 255, 255, 0.9);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	/* --column-width: 52rem; */
	--column-width: 80rem;
	--column-margin-top: 4rem;
}

.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 105px) !important; } .cdx-block { max-width: 100% !important; }

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		/* var(--secondary-color) 10.45%, */
		var(--secondary-color) 5em,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-secondary-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--pure-white);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: Raleway, sans-serif;
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-family: Raleway, sans-serif;
	font-size: 1.5rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.button-beach-sm-selected {
	-webkit-appearance: none;
	background: -webkit-gradient(to left, #064a45 0%, #909090 50%, #340c62 100%);
	background: linear-gradient(to left, #064a45 0%, #909090 50%, #340c62 100%);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	color: #fff;
	cursor: pointer;
	font: 1em Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 3.5rem;
	letter-spacing: 0.05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 10rem;
	margin: 1rem 1rem 1rem 1rem;
}

.button-beach-sm {
	-webkit-appearance: none;
	background: -webkit-gradient(to right, #064a45 0%, #909090 50%, #340c62 100%);
	background: linear-gradient(to right, #064a45 0%, #909090 50%, #340c62 100%);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	color: #fff;
	cursor: pointer;
	font: 1em Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 3.5rem;
	letter-spacing: 0.05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 10rem;
	margin: 1rem 1rem 1rem 1rem;
}

.button-beach-sm:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.button-beach {
	-webkit-appearance: none;
	background: -webkit-gradient(to right, #064a45 0%, #909090 50%, #340c62 100%);
	background: linear-gradient(to right, #064a45 0%, #909090 50%, #340c62 100%);
	background-size: 500%;
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	color: #fff;
	cursor: pointer;
	font: 1.5em Raleway, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 5rem;
	letter-spacing: 0.05em;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 20rem;
}

.button-beach:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100%;
	}
}